/*  
Theme: Lightroom - Premium Portfolio Theme
Author: Arthur Gapusan (Jimmyme)
Email: gapusan@gmail.com
*/

/* ------------------------------------------------------------------- */
/* -------------------------- CSS STRUCTURE -------------------------- */
/* ------------------------------------------------------------------- */
/*

1. CSS Reset
2. Standard Typography
	2.1 Default font settings
	2.2 Headings
	2.3 Text elements
	2.4 Lists
	2.5 Tables
	2.6 Misc classes
3. Site Structure
	3.1 Layout Structure (Boxed Layout)
		3.1.1 Body and Wrapper
		3.1.2 Top
		3.1.3 Content
		3.1.4 Bottom
	3.2 Header
		3.2.1 Logo
		3.2.2 Navigation Container
	3.3 Content
		3.3.1 Intro
		3.3.2 Brearcrumbs and Subheader
		3.3.3 Grids
		3.3.4 List
		3.3.5 Quotes
		3.3.6 News List	
	3.4 Prefooter
	3.5 Subfooter
	3.6 Footer
4. Extra Styles
	4.1 Contact Form
	4.2 Buttons Sliding Doors
	4.3 Posts
		4.3.1 Blog Post and Details
		4.3.2 Comments
		4.3.3 Pagination
	4.4 Margins and Floats
	4.5 Image Styles
	4.6 Page Related Styles
		4.6.1 Services
		4.6.2 Portfolio
	4.7 Rounded Box (Image Based)
	4.8 Misc Styles

*/
/* ------------------------------------------------------------------- */


/* =================================================================== */
/* 1. CSS Reset - Resets default browser CSS*/
/* =================================================================== */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body { 
  line-height: 1.5; 
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }


/* =================================================================== */
/* 2. Standard Typography */
/* =================================================================== */

	/* 
	Sets up some sensible default typography
	*/

	/* ------------------------------------------------------------------- */
	/* 2.1 Default font settings */
	/* ------------------------------------------------------------------- */  


	body { 
		font-size: 14px;
		font: 0.75em/1.35 "Arial","Helvetica",sans-serif;
		color: #404040;
		line-height: 23px;
	}


	/* ------------------------------------------------------------------- */
	/* 2.2 Headings */
	/* ------------------------------------------------------------------- */  


	h1,h2,h3,h4,h5,h6 { 
		font-weight: normal; 
		color: #505050; 
		margin-top: 10px;
	}

	h2 {
		color: #404040;
		font-family:  Arial,Helvetica,sans-serif
	}

	h1.quote {
		color: #7a7a7a;
	}

	h1 { font-size: 30px; line-height: 1; margin-bottom: 0.5em; }
	h2 { font-size: 22px; margin-bottom: 1em; }
	h3 { font-size: 19px; font-weight: bold; line-height: 1; margin-bottom: 1.25em; }
	h4 { font-size: 15px; line-height: 1; font-weight: bold; margin-bottom: 1.25em; }
	h5 { font-size: 13px; font-weight: bold; margin-bottom: 1.25em; }
	h6 { font-size: 12px;  }

	h1 img, h2 img, h3 img, 
	h4 img, h5 img, h6 img {
	  margin: 0;
	}


	/* ------------------------------------------------------------------- */
	/* 2.3 Text elements */
	/* ------------------------------------------------------------------- */  


	p           { margin: 0 0 1.5em; }
	p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
	p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

	a:focus, 
	a:hover     { 
		color: #333; 
		
	}
	a { 
		color: #666; 
		text-decoration: none; 
		outline: none;
	}

	.more {
		font-weight: bold;
	}

	blockquote  { margin: 1.5em; color: #666; font-style: italic; }
	strong      { font-weight: bold; }
	em,dfn      { font-style: italic; }
	dfn         { font-weight: bold; }
	sup, sub    { line-height: 0; }

	abbr, 
	acronym     { border-bottom: 1px dotted #666; }
	address     { margin: 0 0 1.5em; font-style: italic; }
	del         { color:#666; }

	pre 				{ margin: 1.5em 0; white-space: pre; }
	pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


	/* ------------------------------------------------------------------- */
	/* 2.4 Lists */
	/* ------------------------------------------------------------------- */  


	li ul, 
	li ol       { margin:0 1.5em; }
	ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

	ul          { list-style-type: disc; }
	ol          { list-style-type: decimal; }

	dl          { margin: 0 0 1.5em 0; }
	dl dt       { font-weight: bold; }
	dd          { margin-left: 1.5em;}
	ol.alpha {list-style:upper-alpha;}

	/* ------------------------------------------------------------------- */
	/* 2.5 Tables */
	/* ------------------------------------------------------------------- */  


	table       { 
		margin-bottom: 1.4em; 
		/*
		width:100%; 
		*/
	}
	th          { font-weight: bold; }
	thead th 		{ background: #c3d9ff; }
	th,td,caption { padding: 4px 10px 4px 5px; }
	tr.even td  { background: #e5ecf9; }
	tfoot       { font-style: italic; }
	caption     { background: #eee; }
	
	/* custom table */
	/* use .content-table class */
	table.content-table {
		margin-top: 0;
		margin-bottom: 10px;
		border: 1px #ccc solid;
		border-bottom: none;
		width: 100%;
	}

	table.content-table thead th {
		background: #f0f0f0 url('../images/table_bg.png') bottom center repeat-x;
		border-top: 1px #fff solid;
	}
	table.content-table thead th {
		border-bottom:1px #bbb solid;
	}
	table.content-table th {
		border-bottom: 3px #bbb solid;
		padding-right: 1em;
		text-align: left;
		font-size: 16px;
		padding: 10px;
	}

	table.content-table td {
		background: #fff;
		border-top: 1px #fff solid;	
		border-bottom:1px #ccc solid;
		color: #777;
		padding: 10px;
		font-size: 16px;
	}

	table.content-table tr.even td {
		background: #f8f8f8;
		border-top: 1px #fff solid;	
		border-bottom:1px #ccc solid;
	}

	table.content-table td.active {
		background-color: #e4e4e4;
	}


	/* ------------------------------------------------------------------- */
	/* 2.6 Misc classes */
	/* ------------------------------------------------------------------- */  

	.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
	.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
	.hide       { display: none; }

	.quiet      { color: #666; }
	.loud       { color: #000; }
	.highlight  { background:#ff0; }
	.added      { background:#060; color: #fff; }
	.removed    { background:#900; color: #fff; }

	.first      { margin-left:0; padding-left:0; }
	.last       { margin-right:0; padding-right:0; }
	.top        { margin-top:0; padding-top:0; }
	.bottom     { margin-bottom:0; padding-bottom:0; }


/* =================================================================== */
/* 3. Site Structure */
/* =================================================================== */


	/* ------------------------------------------------------------------- */
	/* 3.1 Layout Structure (Boxed Layout) */
	/* ------------------------------------------------------------------- */  

	
	/* ------------------------------------------------------------------- */
	/* ------ 3.1.1 Body and Wrapper */
	/* ------------------------------------------------------------------- */  
		
	body {
		background: #e2e2e2;
		
		margin: 20px 0;
		padding: 0;
		width: 100%;
	}

	#wrapper {
		position: relative;
	}

	/* ------------------------------------------------------------------- */
	/* ------ 3.1.2 Top */
	/* ------------------------------------------------------------------- */  
	
		
	#header-container {
		height: 85px;
		width: 976px;
		margin: 0 auto;
		background: url(../images/box_bg.png) repeat-y;
		padding-top: 8px;
	}

	#header {
		width: 900px;
		height: 85px;
		margin-left: 8px;
		margin: 0 auto;
		z-index: 11;
		position: relative;
	}
	
	
	/* ------------------------------------------------------------------- */
	/* ------ 3.1.3 Content */
	/* ------------------------------------------------------------------- */  
		
		
	#content-container {
		width: 976px;
		margin: 0 auto;
		background: url(../images/box_bg.png) repeat-y;
		z-index: 1;
	}

	#content {
		width: 900px;
		padding: 30px;
		padding-top: 10px;
		float: left;
		margin-left: 8px;
	}


	
	/* ------------------------------------------------------------------- */
	/* ------ 3.1.4 Top and Bottom */
	/* ------------------------------------------------------------------- */  
	
	#top-container {
		width: 976px;
		margin: 0 auto;
		background: url(../images/box_top.png) no-repeat bottom;
		height: 11px;
	}

	#top-content {
		width: 960px;
		margin-left: 8px;
		overflow: hidden;
	}

		
	#bottom-container {
		width: 976px;
		margin: 0 auto;
		background: url(../images/box_bottom.png) no-repeat bottom;
		height: 11px;
	}

	#bottom-content {
		width: 960px;
		margin-left: 8px;
		overflow: hidden;
	}
	
	
	/* ------------------------------------------------------------------- */
	/* 3.2 Header (Top Section) */
	/* ------------------------------------------------------------------- */  


		/* ------------------------------------------------------------------- */
		/* ------ 3.2.1 Logo */
		/* ------------------------------------------------------------------- */  


		
		#logo {
			width: 160px;
			margin-left: 0px;
			text-align: center;
			padding: 0;
			float: left;
		}
					
		#logo a {
			display: block;
		}
	
		/* ------------------------------------------------------------------- */
		/* ------ 3.2.2 Navigation Contanier */
		/* ------------------------------------------------------------------- */  
		
		#header-right {
			width: 740px;
			height: 80px;
			float: left;			
		}
		
		
		
		#subheader {
			float: right;
			z-index:99999;
			margin-top: 18px;
		}


	/* ------------------------------------------------------------------- */
	/* 3.3 Content */
	/* ------------------------------------------------------------------- */  

	/* Horizontal Border */
	.hor-border {
		width: 900px;
		margin: 0 auto;
		border-top: 1px #ccc dotted;
		position: relative;
		height: 1px;
		overflow: hidden;
		top: -1px;
		z-index: 1;
		margin-bottom: 20px;
	}
	
	#content .hor-border {
		margin-top: 30px;
		border-top: 0;
		border-bottom: 1px #ccc dotted;
		padding-top: 30px;
		height: 1px;
		
	}

	#content p {
		margin: 0;
		margin-bottom: 20px;
	}

	/* main column */
	#content #main {
		float: left;
		width: 600px;
		margin-top: 15px;
		padding-top: 15px;
	}
	
	#content #main-whole {
		float: left;
		width: 900px;
		margin-top: 15px;
		padding-top: 15px;
		
	}
	
		.main-3-column {
			width: 180px;
			float: left;
		}
		
	.three-column {
		float: left;
		width: 300px;
		margin-left: 30px;
		padding-top: 10px;
	}
	
	/* left and right column */
	#content #left, #content #right {
		float: left;
		margin-right: 30px;
		width: 280px;
		margin-top: 15px;
		padding-top: 15px;
	}
	
	#content #right {
		margin-right: 0;
		
		width: 270px;
		margin-left: 30px;
		background: url(../images/right_sidebar_bg.png) no-repeat left top;
	}
	
		#content #right-box {
			width: 240px;
			padding-left: 30px;
			background: url(../images/right_sidebar_bg_end.png) no-repeat left bottom;
		}
		
	#content .box {
		float: left;
		width: 280px;
		margin-bottom: 30px;
		margin-right: 30px;
	}
	
	#content .main-2-column {
		float: left;
		width: 285px;
		margin-top: 15px;
		margin-bottom: 30px;
		margin-right: 30px;
	}
	
	#content .widget {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: both;
	}
	
	
		/* ------------------------------------------------------------------- */
		/* ----- 3.3.1 Intro */
		/* ------------------------------------------------------------------- */  
		
	
		#intro {
			border-bottom: 1px dotted #c2c2c2;
			padding-top: 15px;
			padding-bottom: 17px;
			float: left;
			
		}
			#intro p {
				font-size: 25px;
				float: left;
				width: 700px;
				padding-top: 12px;
			}
			
			#intro h2, #intro h1 {
				float: left;
				width: 700px;
				
			}
			
			#intro #intro-buttons {
				float: right;
				width: 200px;
				margin-top: 3px;
			}
			
				#intro .button-header {
					margin-right: 15px;
				}
		
		
		/* ------------------------------------------------------------------- */
		/* ----- 3.3.2 Breadcrumbs and Subheader */
		/* ------------------------------------------------------------------- */  
				
		#content .page, #content .page2 {
			border-bottom: 1px dotted #c2c2c2;
			float: left;
			width: 900px;
		}
		
		
		#content .page h1, #content .page h2, #content .page2 h1, #content .page h2 {
			margin-bottom: 3px;
			margin-top: 3px;
			margin-left: 0;
		}
		
		#content p.breadcrumb {
			padding: 0;
			color: #555;
			font-size: 11px;
			word-spacing: 3px;
			
			padding-bottom: 10px;
			margin: 0;	
			margin-top: 0px;
			padding-left: 2px;
		}
			p.breadcrumb a {
				color: #777;
			}
				p.breadcrumb a:hover {
					text-decoration: underline;
				}	
			
		#content .page #search-container{
			margin-top: 14px;
		}
		
		#content .page2 #search-container{
			margin-top: 8px;
			margin-bottom: 14px;
		}
		
		#content .page2 {
			padding-bottom: 4px;
		}
		
		#content .page2 #quote-container{
			padding-bottom: 0px;	
		}
		
		#content .page2 p.breadcrumb {
			margin-top: 12px;
		}
		
		#content .page2 #quote-container .quote,#content .page2 #quote-container .quote p {
			padding-top: 0;
			padding-bottom: 0;
		}
		
		#content .page2 #quote-container .quote {
			padding-top: 10px;
		}
		
		
		
		#content .page #quote-container .quote {
			padding: 0;
			padding-top: 15px;
		}
		
		#content .page #quote-container .quote p {
			padding-bottom: 10px;
		}
		
		
		/* ------------------------------------------------------------------- */
		/* ----- 3.3.3 Grid */
		/* ------------------------------------------------------------------- */  
		

		.grid_12, .grid_6, .grid_4, .grid_8, .grid_3, .grid_9 {
			float: left;
			display: inline;
			width: 435px;
			margin-right: 30px;
		}
		.grid_12 {
			width: 900px;
			margin-right: 0;
		}


		.grid_4 {
			width: 280px;
		}

		.grid_8 {
			width: 590px;
		}

		.grid_3 {
			width: 210px;
			margin-right: 20px;
		}
		.grid_9 {
			width: 670px;
			margin-right: 20px;
		}

			.last {
				margin-right: 0px;
			}

		/* Grids with Sidebar */

		.grid_12_sb, .grid_6_sb, .grid_4_sb, .grid_8_sb, .grid_3_sb, .grid_9_sb {
			float: left;
			display: inline;
			width: 285px;
			margin-right: 30px;
		}
		.grid_12_sb {
			width: 600px;
			margin-right: 0;
		}


		.grid_4_sb {
			width: 180px;
		}

		.grid_8_sb {
			width: 390px;
		}

		.grid_3_sb {
			width: 135px;
			margin-right: 20px;
		}
		.grid_9_sb {
			width: 445px;
			margin-right: 20px;
		}

			.last {
				margin-right: 0px;
			}
			
		
		/* ------------------------------------------------------------------- */
		/* ----- 3.3.4 List */
		/* ------------------------------------------------------------------- */  	
			

		ul {
			list-style: square;
			margin-left: 30px;
		}	
			
		ol li {
			padding-bottom: 5px;
			padding-left:5px;
		}

				
			ul.list, ul.list-check, ul.list-articles, .theme-info-list-bg, ul.structure, ul.structure ul {
				list-style: none;
				margin: 0;
				margin-bottom: 15px;		
			}
			
			ul.structure ul  {
				margin-bottom: 0;
			}
			
				
			ul.list-nb {
				list-style: none;
				margin: 0;
				padding: 0;
				padding-bottom: 10px;
			}
						
			ol.list {
				margin-left: 30px;
			}
						
				ul.list li, ul.list-check li, ul.list-articles li{
					background: url(../images/bullet.png) no-repeat left 10px;
					border-bottom: 1px #aaa dotted;
					padding: 5px 0 5px 20px;
				}
				
				.structure li {
					border-bottom: 0;
					background: url(../images/sitestructure.png) no-repeat left 0px;
					padding: 10px 0 2px 30px;
				}
				
				.theme-info-list-bg li {
					float: left;
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: 1px #999 dotted;
				
					background: transparent url("../images/footermenu_arrow.png") no-repeat scroll left 8px;
					padding-left: 20px;
					width: 280px;
					
				}
				
					ul.list-check li {
						background: url(../images/bullet_box.png) no-repeat left 6px;
						padding: 5px 0 5px 30px;	
					}
					
					ul.list-articles li {
						background: url(../images/list_bg.png) no-repeat left 10px;
						padding: 5px 0 5px 20px;	
						border-bottom: none;
					}
							
				ol.list li {
					border-bottom: 1px #aaa dotted;
					padding: 5px 0;
				}		
				ol li h5 {
					margin-bottom: 0;
				}
			

		.vertical-list {
			list-style: none;
			margin: 0;
			margin-bottom: 15px;
			padding: 0;
			float: left;
			width: 100%;
		}
		.vertical-list li {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		.vertical-list a {
			display:block;	
			text-decoration:none;
			font-weight:bold;
			padding: 8px 0 8px 15px;
			background: #fff;
			border-bottom: 1px #ccc solid;
			overflow: hidden;
			background: transparent url("../images/footermenu_arrow.png") no-repeat scroll left 15px;
		}


		/* use class "bullet-list" if you want to have bullets in your list */


		ul.bullet-list {
			list-style: none;
			margin: 0;
			margin-top: 0px;
			padding: 0;
		}
		ul.bullet-list li, ul.bullet-list-box li {
			padding: 5px 0px 5px 25px;
			background: url(../images/bullet.png) no-repeat left;
			font-weight: bold;
		}
		 
		/* ------------------------------------------------------------------- */
		/* ----- 3.3.5 Quotes */
		/* ------------------------------------------------------------------- */  
			 
			 
		.quote, .quote_right, .quote_left, .intro-quote {
			float: right;
			color: #555;
			font-family: Georgia,"Times New Roman",Times,serif;
			font-size: 19px;
			font-style: italic;
			padding: 20px 0 20px 25px;
			width: 33%;
		}

		.quote_left {
			float: left;
			padding: 20px 25px 20px 0;
		}
				 
		.quote, .intro-quote {
			width: 100%;
			float: left;
			padding: 15px 0 0px 0;
		}

			.intro-quote {
				padding: 20px 0 0px 0;
			}

		.quote p {
			
			padding-left: 40px;
			background:url(../images/quote.png) no-repeat 0px 0px;
			padding-bottom: 15px;
		}		


		/* ------------------------------------------------------------------- */
		/* ----- 3.3.6 News List (See Sidebar of About page) */
		/* ------------------------------------------------------------------- */  
		
				
		.news-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
			
			.news-list .news-date {
				float: left;
				width: 45px;
				height: 40px;
				margin-bottom: 10px;
				margin-top: 5px;
			}
			
				.news-list .news-date .month {
					font-weight: bold;
					color: #444;
					font-size: 18px;
					border: 1px #ccc dotted;
					padding: 1px;
					background: #fff;
					padding: 0px 5px;
					text-align: center;
				}
									
					.news-list .news-date .month h2, .news-list .news-date .month h3 {
						margin-bottom: 5px;
						margin-top: 5px;
					}
					
					.news-list .news-date .month h4 {
						margin-top: 0px;
						margin-bottom: 5px;
						color: #999;
					}
					
					.news-list .news-date .month div span{
						color: #777;
						clear: both;
						font-size:14px;
					}
			
			.news-list .news-entry {
				float: left;
				width: 180px;
				margin-bottom: 15px;
				margin-left: 15px;	
			}

			.news-list .news-title a {
				font-weight: bold;
				color: #444;
			}
			
			.news-list .news-title h5 {
				margin-bottom: 5px;
				color: #444;
			}
			
			.news-list .news-content {
				color: #666;
			}

			.news-list .news-details {
				border-top: 1px #ccc dotted;
				font-size: 11px;
				padding-top: 5px;
				margin-top: 5px;
				float: left;
				width: 100%;
			}

			.news-list .news-author {
				color: #777;
			}
			
			.news-comments {
				background: url(../images/comment.png) no-repeat top left;
				padding-left: 20px;
				margin-left: 5px;
			}

			.recent-entries {
				float: left;
			}
				
			#content .last {
				margin-right: 0;
			}
		


	/* ------------------------------------------------------------------- */
	/* 3.4 Prefooter */
	/* ------------------------------------------------------------------- */  
		
		
	#prefooter {
		width: 960px;
		padding-bottom: 8px;
		background: #f1f1f1 url(../images/prefooter_bg.png) no-repeat top center;
		margin: 0 auto;
	}

	#prefooter-content {
		width: 900px;
		padding: 30px;
		margin: 0 auto;
	}


	/* ------------------------------------------------------------------- */
	/* 3.5 Subfooter */
	/* ------------------------------------------------------------------- */  
		

	#sub-footer-container, #sub-footer-container-boxed {
		width: 976px;
		margin: 0 auto;
	}

		#sub-footer-container-boxed {
			width: 960px;
			margin-left: 8px;
			float: left;
			background: #f3f3f3;
			
		}

	#sub-footer, #sub-footer-boxed {
		width: 960px;
		margin-left: 8px;
		margin-top: 7px;
		padding-top: 15px;
		float: left;
	}

		#sub-footer-boxed {
			width: 900px;
			margin-left: 30px;
			border-top: 1px #999 dotted;
			
		}
		
		.footer-column, .footer-column-2, .footer-contact {
			float: left;
			width: 215px;
			padding: 5px 5px 20px 5px;
			margin-right: 20px;
		}
		
			.last {
				margin-right: 0;
			}
		
			#sub-footer-boxed .footer-column {
				width: 200px;
				padding: 5px 5px 20px 5px;
			}
		
		.footer-column-2 {
			width: 340px;
		}
		
		.footer-contact {
			width: 190px;
		}
			
			.footer-column h4 {
				margin-top: 15px;
			}
			
			#sub-footer .footer-mainmenu, #sub-footer-boxed .footer-mainmenu {
				margin: 0;
				padding: 0;
			}
			
				#sub-footer .footer-mainmenu li, #sub-footer-boxed .footer-mainmenu li {
					text-align: left;
					padding: 5px 0;
					float: left;
					width: 102px;	
					border-bottom: 1px #999 dotted;
				}
				
				#sub-footer-boxed .footer-mainmenu li {
					width: 95px;
				}
				
				#sub-footer .footer-mainmenu li a, #sub-footer-boxed .footer-mainmenu li a {
					background: transparent url("../images/footermenu_arrow.png") no-repeat scroll left 8px;
					padding: 5px 2px 5px 10px;
				}
				
		
		.footer-column ul{
			padding-left: 0;
			margin-left: 0;
		}
		
		.footer-column li {
			list-style: none;
			padding-left: 0;
			margin-left: 0;
			/*text-shadow: 1px 1px 1px #ffffff;*/
		}
		
		.footer-column li a {
			color:#555;
			/*text-shadow: 1px 1px 1px #ffffff;
			*/
		}
		
		.footer-column li a:hover {
			text-decoration: underline;
		}
		

	/* ------------------------------------------------------------------- */
	/* 3.6 Footer */
	/* ------------------------------------------------------------------- */  	
			
		
	#footer-container {
		width: 100%;
		margin: 0 auto;
	}

	#footer, #footer-boxed{
		width: 960px;
		/*
		margin-left: 8px;
		*/
		margin: 0 auto;
		/*
		text-shadow:1px 1px 1px #ffffff;
		*/
		padding-top: 15px;
		font-size: 12px;
		color: #444;
		font-weight: normal;
		clear: both;
	}

	#footer-boxed {
		border-top: 1px #999 dotted;
		width: 900px;
	}

	.footer-menu {
		list-style: none;
		margin: 0;
		padding: 0;
	}
		.footer-menu li {
			float: left;
			padding-right: 10px;
			margin-right: 10px;
		}
		
			.footer-menu li a {
				color: #444;
			}
			
				.footer-menu li a:hover {
					text-decoration: underline;
				}
	.news-list-footer {
		list-style: none;
		margin: 0;
		padding: 0;	
	}	
	
	.news-list-footer li {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px #999 dotted;
		background: url(../images/list_bg.png) no-repeat left 6px;
		padding-left: 20px;			
	}			
		

	div#loader {
		border: 1px solid #ccc;
		width: 500px;
		height: 500px;
		overflow: hidden;
	}

	div#loader.loading {
		background: url(../images/spinner.gif) no-repeat center center;
	}


/* =================================================================== */
/* 4. Extra Styles */
/* =================================================================== */


	/* ------------------------------------------------------------------- */
	/* 4.1 Contact Form */
	/* ------------------------------------------------------------------- */  


	label, .label-80 {
		float: left;
		width: 100px;
		font-weight: bold;
		padding: 5px;
		padding-bottom: 10px;
		font-size: 12px;
	}

	.contact-select {
		width: 280px;
	}


	#feedback {
		margin-bottom: 15px;
	}

	#feedback p {
		margin-bottom: 5px;
	}

	p.error {
		display:none; 
		padding:5px 10px; 
		color:#FF3300; 
		font-weight:bold;
		border: 1px #f0c020 solid;
		background-color:#ffffdd;
	}

	p#submit {
		text-align:right;
	}

	p#success {
		display:none; 
		font-size:16px; 
		text-align:left; 
		margin-bottom:20px; 
		color:#00CC00; 
		font-style:italic;
	}

	#note {
		padding: 10px;
		font-size: 12px;
		font-weight: bold;
		color: #992222;
		border: 1px #f0c020 solid;
		display: none;
		background-color:#ffffdd;
		text-align: center;
		margin-bottom: 10px;
	}

	.notification_ok {
		color: #229922;	
	}

	
	#contact-submit {
		margin-top: -15px;	
	}

	#footer-contact-submit {
		margin-top: -21px;
		margin-left: 0px;
	}
			
	
	/* Search styles */
	#search-block {
		width: 271px;
		height: 31px;
		
		background: url(../images/search_field.png) no-repeat left top;
		overflow: hidden;
	}
		
	#search-block form {
		padding: 0px;
		margin: 0;
	}
	#search-block #search-field {
		width: 235px;
		padding: 7px 1px 5px 5px;
		border: 0;
		background: none;
		color: #666;
		float: left;
		outline: none;
	}
			
	#search-block #search-submit {
		width: 23px;
		height: 24px;
		margin-top: 9px;
		margin-left: 7px;
		border: 0;
		background: url(../images/search_button.png) no-repeat left top;
		color: #777;
		font: bold 1em arial, sans-serif;
		cursor: pointer;
		float: left;
	}	
				
			

	/* More Form styles at 5.4 JqTransform Plugin


	/* ------------------------------------------------------------------- */
	/* 4.2 Buttons Sliding Doors */
	/* ------------------------------------------------------------------- */  


	a.button, a.button-2, a.button-header {
		background: url('../images/button.png') no-repeat scroll top left; 
		float: left;
		height: 31px;
		padding-left: 0px;
		margin-right: 20px;
	}

	a.button span, a.button-2 span,  a.button-header span  {
		background: url('../images/button.png') no-repeat right -31px; 
		float: left;
		height: 26px;
		position: relative;
		left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		font-size: 12px;
		font-family: Arial,Helvetica,sans-serif;
		cursor: pointer;
		line-height: 21px;
		color: #444;
		text-shadow: 1px 1px 1px #fff;
	}
	a.button-2 {
		background: url('../images/button2.png') no-repeat scroll top left; 
	}

	a.button-2 span {
		background: url('../images/button2.png') no-repeat scroll right -31px; 
		padding-right: 45px;
	}

	a.button-header {
		height: 45px;
		background: url('../images/button_header.png') no-repeat scroll top left; 
		margin-right: 0;
	}

	a.button-header span {
		background: url('../images/button_header.png') no-repeat scroll top right; 
		color: #666;
		font-size: 19px;
		height: 35px;
		padding-top: 12px;
		padding-right: 20px;
	}

	a.button:hover span {
		color: #666;
	}

	a.button:hover, a.button-2:hover  {
		background-position: left -120px;
	}

	a.button:hover span, a.button-2:hover span {
		background-position: right -151px;
	}

	a.button-header:hover, a.button-header:hover  {
		background-position: left -137px;
	}

	a.button-header:hover span, a.button-header:hover span {
		background-position: right -137px;
	}


	/* ------------------------------------------------------------------- */
	/* 4.3 Posts */
	/* ------------------------------------------------------------------- */  

		/* ------------------------------------------------------------------- */
		/* ----- 4.3.1 Blog Post and Details */
		/* ------------------------------------------------------------------- */  
		
		
		#content .blog-post {
			margin-bottom: 30px;
		}
		
		#content .blog-post .title h3, #content .blog-post .title h2, #content .blog-post .title h1 {
			margin-bottom: 0px;
		}
		
		#content .blog-post h4 {
			color: #555;
		}
		
		#content .blog-post h4 span {
			background: url(../images/arrow_down_small.png) no-repeat left;
			padding-left: 20px;
			color: #555;
		}
			
		#content .blog-post.title h2{
			margin-bottom: 0;
		}
		
		#content .blog-post-meta a {
			text-decoration: underline;
		}
			#content .blog-post-meta a:hover {
				text-decoration: none;
			}
		
		#content .blog-post .details {
			font-size: 12px;
			color: #aaa;
			margin-bottom: 15px;
			font-style: italic;
			font-family: Georgia, serif;
		}
		
		#content .news-details-category {
			color: #777;
			margin-right: 5px;
		}
		
		#content .news-details-author {
			color: #777;
			margin: 0 5px;
			font-style: normal;
			font-family: Arial,Helvetica,sans-serif;
		}
		
		#content .news-details-date {
			color: #555;
			margin: 0 5px;
			font-style: normal;
			font-family: Arial,Helvetica,sans-serif;
		}
		
		#content .news-details-comments {
			background: url(../images/discuss.png) no-repeat left;
			padding-left: 20px;
			margin-left: 5px;
			color: #777;
		}
		
		.blog-date {
			float: left;
			width: 48px;
			height: 40px;
			margin-bottom: 10px;
			margin-top: 5px;
		}
		
			.blog-date .month {
				color: #333;
				font-size: 25px;
				border: 1px #ccc dotted;
				padding: 1px;
					font-weight: bold;
			}
			
				.blog-date .month div{

					background: #fafafa;
					padding: 2px 5px 0px 5px;
					text-align: center;
					
				}
				
				.blog-date .month div span{
					color: #aaa;
					clear: both;
					font-size:16px;
					font-weight: bold;
				}

			.the-date {
				margin: 0;
				padding: 0;
				font-style: italic;
			}

			.recent-entries {
				float: left;
				border-bottom: 1px #999 dotted;
				width: 512px;
				margin-left: 30px;
			}

			.recent-entries h5 {
				margin: 0px;
			}
			
			
		/* ------------------------------------------------------------------- */
		/* ----- 4.3.2 Comments */
		/* ------------------------------------------------------------------- */  
		
		
		.comment {
			background: url(../images/comment_2.png) no-repeat top;
			width: 41px;
			height: 38px;
			margin-top: 10px;
			padding-top: 4px;
		}
		
			.comment span {
				font-size: 16px;
				text-align: center;
				margin: 0 auto;
				display: block;
				margin-left: 1px;
			}
		
		#comments {
			border-top: 1px #999 dotted;
			float: left;
			width: 100%;
			padding-top: 30px;
		}	
		
		#comments ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		
		#comments .comment-children .comment-item {
			padding-left: 60px;
			background: url(../images/comment_children_bg.png) no-repeat 25px 10px;
		}
		
		#comments a, #comments a:link #comments a:active {
			text-decoration: underline;
			color: #777;
		}

		.avatar {
			float: left;
			width: 56px;
		}
		
		.comment-details {
			float: left;
			width: 514px;
			margin-left: 30px;
			margin-bottom: 15px;
			border-bottom: 1px #ccc dotted;
		}
		
			.comment-children .comment-details {
				width: 454px;
				float: left;
				margin-left: 30px;
			}
			
				.comment-children .comment-children .comment-details {
					width: 394px;
					float: left;
					margin-left: 30px;				
				}
				
				.comment-children .comment-children .comment-children .comment-details {
					width: 334px;
					float: left;
					margin-left: 30px;
				}
				
					.comment-children .comment-children .comment-children  .comment-children .comment-details {
						width: 274px;
						float: left;
						margin-left: 30px;
					}
			.comment-author-date {
				font-style: italic;
				color: #888;
				font-family: Georgia, serif;
				margin-bottom: 5px;
			
			}
			.comment-author-date a {
				font-size: 12px;
				color: #333;
				text-decoration: underline;
				font-style: normal;
			}
			
			.comment-author-date span {
				font-style: normal;
			}
		
			.comment-date {
				font-size: 12px;
				color: #777;
				font-style: italic;
			}
		
		
		/* ------------------------------------------------------------------- */
		/* ----- 4.3.3 Pagination */
		/* ------------------------------------------------------------------- */  
			
		
		.pagination .current { 
			float: left; 
			padding: 5px 15px; 
			margin-right: 5px; 
			font-family: Arial,Helvetica,sans-serif; 
			line-height: 21px; 
			color: #444; 
		}	
	
		
	/* ------------------------------------------------------------------- */
	/* 4.4 Margins and Floats */
	/* ------------------------------------------------------------------- */  
	
	
	.left { float: left; }
	.right { float: right; }
	.center { text-align: center; }
	.image-margin-left { margin:0 10px 3px 0; }
	.image-margin-right { margin:0 0 3px 10px; }
	.margin-3-left { margin-left: 3px; }
	.margin-3-top { margin-top: 5px; }
	.margin-5-top { margin-top: 5px; }
	.margin-5-left { margin-left: 5px; }
	.margin-10-left { margin-left: 10px; }
	.margin-10-right { margin-right: 10px; }
	.margin-10-top { margin-top: 10px; }
	.margin-15-left { margin-left: 15px; }
	.margin-15-right { margin-right: 15px; }
	.margin-15-top { margin-top: 15px; }
	.margin-20-left { margin-left: 20px; }
	.margin-20-right { margin-right: 20px; }
	.margin-200-top { margin-top: 20px; }
	.margin-30-left { margin-left: 30px; }
	.margin-30-right { margin-right: 30px; }
	.margin-30-top { margin-top: 30px; }	
	.margin-30-bottom { margin-bottom: 30px; }	
		
		
	/* ------------------------------------------------------------------- */
	/* 4.5 Image Styles */
	/* ------------------------------------------------------------------- */  
	
		
	.image-left, .image-border, .image-right, .header-image-left, .header-image-right, .image-thumb-left, .image-thumb-right {
		padding:4px;
		margin:5px 10px 3px 0;
		border: 1px #cdcdcd solid;
		background: #fafafa;
		float: left;
	}

	.image-thumb-left, .image-thumb-right {
		float: left;
		padding: 2px;
	}

	.image-thumb-right {
		float: right;
	}	

	.image-right {
		float: right;
		margin:5px 0px 3px 10px;
	}

	.image-margin-left {
		margin:0 10px 3px 0;
		float: left;
	}
	
	/* ------------------------------------------------------------------- */
	/* 4.6 Page Related Styles */
	/* ------------------------------------------------------------------- */  
	
		
		/* ------------------------------------------------------------------- */
		/* ----- 4.6.1 Services */
		/* ------------------------------------------------------------------- */  
		
		#content .box-item {
			margin-bottom: 30px;
			padding-bottom: 15px;
			float: left;
		}
		
		#content .box-item .box-image {
			float: left;
			width: 50px;
		}
			
		#content .box-item .box-text {
			float: left;
			width: 210px;
			margin-left: 20px;
		}
		
		
		/* ------------------------------------------------------------------- */
		/* ----- 4.6.2 Portfolio */
		/* ------------------------------------------------------------------- */  
		
			
		.portfolio-row {
			margin-bottom: 30px;
			float: left;
		}

		.portfolio-item-1 {
			float: left;
			width: 900px;
			margin-bottom: 15px;
			border-bottom: 1px #b5b5b5 solid;
			padding-bottom: 10px;
			
		}

			.portfolio-description {
				width: 470px;
				float: left;
			}
			
				.portfolio-item-1 h3 {
					padding-bottom: 15px;
					border-bottom: 1px #b5b5b5 dotted;
				}
				
				.portfolio-text {
					width: 239px;
					float: left;
					border-right: 1px #b5b5b5 dotted;
					margin-right: 30px;
					padding-right: 30px;
				}
				

				
				.portfolio-list {
					width: 170px;
					float: left;
				}
			
			.portfolio-item-1 .portfolio-image {
				width: 400px;
				float: left;
				padding-bottom: 4px;
			}

		.portfolio-item-3 {
			float: left;
			width: 280px;
			margin-top: 15px;
			margin-right: 30px;
		}

			.portfolio-image {
				margin-bottom: 15px;
				float: left;
			}
			
			.portfolio-image img {
				margin-right: 0;
			}
		

	
	/* ------------------------------------------------------------------- */
	/* 4.7 Rounded Box (Image Based) */
	/* ------------------------------------------------------------------- */  
		

	.rounded-box {
		width: 100%;
		margin-bottom: 30px;
		margin-top: 15px;
		float: left;	
	}
			
	.top {
		width:100%;
		height:6px;
		background:url(../images/top.png) no-repeat left top;
	}
			
	.top span {
		width: 6px;
		height:6px;
		background: #fff url(../images/top_right.png) no-repeat right top;
		float: right;
		overflow: hidden;
	}

	.box-content {
		background: url(../images/leftside.png) repeat-y right top;
		width: 100%;
		float: left;
		background-color: #f8f8f8;	
	}
			
	.box-content2 {
		background: url(../images/leftside.png) repeat-y left top;
		width: 100%;
		float: left;			
	}

	.bottom {
		width:100%;
		height:6px;
		background:url(../images/bottom.png) no-repeat left top;
		float: left;
	}
			
	.bottom span {
		width: 6px;
		height: 6px;
		background: #fff url(../images/bottom_right.png) no-repeat right top;
		float: right;
		overflow: hidden;
	}
			
	.rounded-box p {
		margin:5px 0 10px 0;
		padding-bottom: 5px;
		clear: both;
	}
			
	.box-padding {
		padding: 10px 30px 0px 30px;
	}

	#content .box-padding  p{
		padding-bottom: 10px;
	}

	.box-padding h2.border {
		padding-top: 0px;
		margin-top: 0;
		background: url(../images/border_bottom.gif) repeat-x left bottom;
		padding-bottom: 15px;
	}

	.box-padding .item h2 {
		background: none;
	}

	.box-item .box-padding h2 {
		text-align: center;
		margin-bottom: 15px;
	}

	.box-padding h3 {
		padding-top: 0;
		margin-top: 10px;
	}		 

	
	/* ------------------------------------------------------------------- */
	/* 4.8 Misc Styles */
	/* ------------------------------------------------------------------- */  
	
	
	#content .article-controls {
		float: left;
		width: 100%;
		border-top: 1px #ccc dotted;
		border-bottom: 1px #ccc dotted;
		padding: 15px 0;
		margin: 15px 0;
	}
		
	.clear {
		clear: both;
	}	
				 
	.strong {
		font-weight: bold;
	}		 
				 
	.shadow {
		background: url(../images/thumb_shadow.png) no-repeat scroll center bottom transparent;
		padding: 5px 0px 10px 0px;	
		margin-right: 10px;
	}

	span.shadow {
		display: block;
	}

		.shadow img.image-left {
			padding: 4px;
			margin: 0;
			background: #fff;
		}	 
		

	.page-404 h1 {
		text-align: center;
	}

	/* Link Styles */

	.more {
		text-decoration: underline;
		color: #444;
		font-weight: normal;
		padding-left: 0px;
		margin-left: 0px;
	}

	.more:hover {
		text-decoration: none;
	}

	.widget h5 {
		margin-bottom: 10px;
	}

	.address p {
		font-size: 14px;
	}

	.post {
		margin-bottom: 30px;
		float: left;
		width: 100%;
	}
			
	.post p {
		margin: 0;
		clear: both;
	}
			
	.recentposts {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
		.recentposts li {
			width: 100%;
			float: left;
			margin-bottom: 15px;
			padding-bottom: 15px;
		}
		
		.recentposts h5, .news-list-footer h5 {
			margin: 0;
			margin-top: 5px;
		}
		
		.recentposts span, .news-list-footer span {
			color: #999;
			font-size: 11px;
		}
		
		.recentposts .comments, .news-list-footer .comments {
			background: url(../images/discuss.png) no-repeat left;
			padding-left: 20px;
			margin-left: 10px;
			color: #777;
			font-size: 11px;
		}
		
		.news-list-footer span, .news-list-footer .comments {
			color: #777;
		}
	
